#root {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h2 {
	text-decoration: underline;
	margin: 2em;
}

.badge-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 3em;
}

.badge {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.5em 0.8em;
	margin: 0.8em 0.5em;
	font-size: 1em;
	font-weight: 600;
	font-family: inherit;
	background-color: #f3f4f6;
	color: #1f2937;
	cursor: pointer;
}

.badge:hover {
	opacity: 0.9;
}

.badge.badge-red {
	background-color: #fee2e2;
	color: #991b1b;
}

.badge.badge-yellow {
	background-color: #fef3c7;
	color: #92400e;
}

.badge.badge-green {
	background-color: #d1fae5;
	color: #065f46;
}

.badge.badge-blue {
	background-color: #dbeafe;
	color: #1e40af;
}

.badge.badge-indigo {
	background-color: #e0e7ff;
	color: #3730a3;
}

.badge.badge-purple {
	background-color: #ede9fe;
	color: #5b21b6;
}

.badge.badge-pink {
	background-color: #fce7f3;
	color: #9d174d;
}

.badge.badge-square {
	border-radius: 6px;
}

.badge.badge-pill {
	border-radius: 12px;
}

/* BANNER */

.banner {
	text-align: left;
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 5px;
	display: flex;
	gap: 0.5em;
	cursor: pointer;
}

.banner h3 {
	font-size: 0.875rem;
	font-weight: 600;
}

.banner h4 {
	font-size: 0.875rem;
	font-weight: 400;
	margin-top: 0.4em;
}

.banner.banner-success {
	background-color: #d2f8e6;
	color: #047857;
}

.banner.banner-attention {
	background-color: #fcf5da;
	color: #92400e;
}

.banner.banner-failure {
	background-color: #fef2f2;
	color: #92400e;
}

.banner.banner-update {
	background-color: #d3e3f7;
	color: #1e40af;
}

.icon {
	width: 0.875rem;
}

/* CARD */

.card {
	width: 300px;
	margin: 3em auto;
	background-color: #f9fafb;
	color: #1f2937;
	padding: 1.5em 2em;
	border-radius: 10px;
	position: relative;
}

.card h3 {
	font-weight: 500;
	margin-top: 2em;
}

.card p {
	font-size: 0.875rem;
}

.card img {
	position: absolute;
	top: -12%;
	left: 40%;
}

/* TESTIMONIAL */

.testimonial {
	margin-bottom: 4em;
	background-color: #374d9b;
	padding: 2em;
	padding-left: 15em;
	text-align: left;
	position: relative;
}

.testimonial-img {
	height: 120%;
	position: absolute;
	left: 30px;
	top: -25px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
	font-size: 0.875rem;
}

/* Tooltip */

.tooltip-container {
	background-color: #e5e7eb;
	padding: 0.1em;
	text-align: left;
	border-radius: 8px;
	display: flex;
	justify-content: center;
}

.tooltip {
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #262626;
	margin: 1.5em 0.5em;
	padding: 1em;
	gap: 1em;
	border-radius: 8px;
	position: relative;
}

.tooltip img {
	margin-top: 0.2em;
}

.tooltip p {
	font-size: 0.8rem;
}

.inverted-triangle {
	width: 0;
	height: 0;
	border-left: 0.8rem solid transparent;
	border-right: 0.8rem solid transparent;
	border-top: 0.8rem solid #262626;
	position: absolute;
	top: 100%;
	left: 10%;
}

/* Footer */

footer {
	font-size: 0.75rem;
}

footer a {
	color: pink;
}
