#root {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h2 {
	text-decoration: underline;
	margin: 2em;
}

.badge-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 3em;
}

.badge {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.5em 0.8em;
	margin: 0.8em 0.5em;
	font-size: 1em;
	font-weight: 600;
	font-family: inherit;
	background-color: #f3f4f6;
	color: #1f2937;
	cursor: pointer;
}

.badge:hover {
	opacity: 0.9;
}

.badge.badge-red {
	background-color: #fee2e2;
	color: #991b1b;
}

.badge.badge-yellow {
	background-color: #fef3c7;
	color: #92400e;
}

.badge.badge-green {
	background-color: #d1fae5;
	color: #065f46;
}

.badge.badge-blue {
	background-color: #dbeafe;
	color: #1e40af;
}

.badge.badge-indigo {
	background-color: #e0e7ff;
	color: #3730a3;
}

.badge.badge-purple {
	background-color: #ede9fe;
	color: #5b21b6;
}

.badge.badge-pink {
	background-color: #fce7f3;
	color: #9d174d;
}

.badge.badge-square {
	border-radius: 6px;
}

.badge.badge-pill {
	border-radius: 12px;
}

/* BANNER */

.banner {
	text-align: left;
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 5px;
	display: flex;
	gap: 0.5em;
	cursor: pointer;
}

.banner h3 {
	font-size: 0.875rem;
	font-weight: 600;
}

.banner h4 {
	font-size: 0.875rem;
	font-weight: 400;
	margin-top: 0.4em;
}

.banner.banner-success {
	background-color: #d2f8e6;
	color: #047857;
}

.banner.banner-attention {
	background-color: #fcf5da;
	color: #92400e;
}

.banner.banner-failure {
	background-color: #fef2f2;
	color: #92400e;
}

.banner.banner-update {
	background-color: #d3e3f7;
	color: #1e40af;
}

.icon {
	width: 0.875rem;
}

/* CARD */

.card {
	width: 300px;
	margin: 3em auto;
	background-color: #f9fafb;
	color: #1f2937;
	padding: 1.5em 2em;
	border-radius: 10px;
	position: relative;
}

.card h3 {
	font-weight: 500;
	margin-top: 2em;
}

.card p {
	font-size: 0.875rem;
}

.card img {
	position: absolute;
	top: -12%;
	left: 40%;
}

/* TESTIMONIAL */

.testimonial {
	margin-bottom: 4em;
	background-color: #374d9b;
	padding: 2em;
	padding-left: 15em;
	text-align: left;
	position: relative;
}

.testimonial-img {
	height: 120%;
	position: absolute;
	left: 30px;
	top: -25px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
	font-size: 0.875rem;
}

/* Tooltip */

.tooltip-container {
	background-color: #d5dae4;
	padding: 0.1em;
	text-align: left;
	border-radius: 8px;
	display: flex;
	justify-content: center;
}

.tooltip {
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: #262626;
	margin: 2em 0.8em;
	padding: 1em;
	gap: 1em;
	border-radius: 8px;
	position: relative;
}

.tooltip img {
	margin-top: 0.2em;
}

.tooltip p {
	font-size: 0.8rem;
	font-weight: 300;
	margin-top: 0.3em;
}

.inverted-triangle {
	width: 0;
	height: 0;
	border-left: 0.8rem solid transparent;
	border-right: 0.8rem solid transparent;
	border-top: 0.8rem solid #262626;
	position: absolute;
	top: 100%;
	left: 10%;
}

/* BLACK */

.tooltip.tooltip-black {
	background-color: #262626;
	color: #fdfdfd;
}

.inverted-triangle.black {
	border-top: 0.8rem solid #262626;
}

/* WHITE  */

.tooltip.tooltip-white {
	background-color: #fdfdfd;
	color: #111827;
}

.tooltip.tooltip-white img {
	filter: invert(100%) sepia(0%) saturate(7433%) hue-rotate(24deg)
		brightness(114%) contrast(100%);
}

.inverted-triangle.white {
	border-top: 0.8rem solid #fdfdfd;
}

/* BLUE */

.tooltip.tooltip-blue {
	background-color: #1e40af;
	color: #e8edff;
}

.tooltip.tooltip-blue img {
	filter: invert(57%) sepia(16%) saturate(4534%) hue-rotate(181deg)
		brightness(98%) contrast(95%);
}

.inverted-triangle.blue {
	border-top: 0.8rem solid #1e40af;
}

/* LIGHT BLUE */

.tooltip.tooltip-light-blue {
	background-color: #c9d6ff;
	color: #1c51b9;
}

.tooltip.tooltip-light-blue img {
	filter: invert(19%) sepia(93%) saturate(5941%) hue-rotate(196deg)
		brightness(90%) contrast(98%);
}

.inverted-triangle.light-blue {
	border-top: 0.8rem solid #c9d6ff;
}

/* PINK */

.tooltip.tooltip-pink {
	background-color: #a9229b;
	color: #ffffff;
}

.tooltip.tooltip-pink img {
	filter: invert(68%) sepia(73%) saturate(2000%) hue-rotate(285deg)
		brightness(99%) contrast(97%);
}

.inverted-triangle.pink {
	border-top: 0.8rem solid #a9229b;
}

/* LIGHT PINK */

.tooltip.tooltip-light-pink {
	background-color: #f5dfef;
	color: #c7369e;
}

.tooltip.tooltip-light-pink img {
	filter: invert(37%) sepia(90%) saturate(3661%) hue-rotate(293deg)
		brightness(94%);
}

.inverted-triangle.light-pink {
	border-top: 0.8rem solid #f5dfef;
}

/* GREEN */

.tooltip.tooltip-green {
	background-color: #47aa5d;
	color: #ffffff;
}

.tooltip.tooltip-green img {
	filter: invert(82%) sepia(16%) saturate(2550%) hue-rotate(72deg)
		brightness(100%) contrast(90%);
}

.inverted-triangle.green {
	border-top: 0.8rem solid #47aa5d;
}

/* LIGHT GREEN */

.tooltip.tooltip-light-green {
	background-color: #e7fff3;
	color: #137a2a;
}

.tooltip.tooltip-light-green img {
	filter: invert(32%) sepia(55%) saturate(3495%) hue-rotate(134deg)
		brightness(93%) contrast(91%);
}

.inverted-triangle.light-green {
	border-top: 0.8rem solid #e7fff3;
}

/* Footer */

footer {
	font-size: 0.75rem;
	margin-top: 3em;
}

footer a {
	color: pink;
}
